# torch==2.2.2+cu121
# torchaudio==2.2.2+cu121
# torchvision==0.17.2+cu121
tensorboard==2.16.2
scikit-learn==1.4.2
scikit-image==0.22.0
scipy==1.12.0
numpy==1.26.4
einops==0.7.0
opencv-python==4.9.0.80
pyiqa==0.1.10
lpips==0.1.4
tqdm==4.66.2